*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: rgb(39, 37, 37);
}
